.card__button_like {
	background: url('../../../../images/heart.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 22px;
	height: 19px;
	cursor: pointer;
	transition: opacity .3s ease;
	padding: 0;
  border: none;
	display: block;
}

.cards__button_like:hover {
	opacity: .5;
}